In [1]:
import clean
import os

In [5]:
# Change to Path to Folder holding raw data, add the "/" at the end
path_to_dir = "Oldest Data/raw/gen8/"

for filename in os.listdir(path_to_dir):

    #Change first part to Path to Folder holding Clean Data, add the "/"
    output = "Oldest Data/data/gen8/" + str(filename[:-5])
    print(filename)
    path_to_file = path_to_dir + str(filename)
    df = clean.clean_df(path_to_file)
    df.to_csv(output)

gen8ou-0.json
gen8ou-1500.json
gen8ou-1695.json
gen8ou-1825.json
gen8ubers-0.json
gen8ubers-1500.json
gen8ubers-1630.json
gen8ubers-1760.json

In [8]:
import pandas as pd

In [42]:
# Observation Count
path_to_dir = "September/data/"
obs = 0
obs_prev = 0

for filename in os.listdir(path_to_dir):
    inner = path_to_dir + str(filename) + "/"
    for inner_file in os.listdir(inner):
        df_file = inner + str(inner_file)
        df = pd.read_csv(df_file,index_col=0)
        obs += df.shape[0]
    print(inner,obs - obs_prev)
    obs_prev = obs

obs

September/data/gen4/ 485
September/data/gen5/ 205
September/data/gen6/ 274
September/data/gen7/ 501
September/data/gen8/ 1237

2702

In [43]:
path_to_dir = "September/data/"
obs = 0
df = None

for filename in os.listdir(path_to_dir):
    inner = path_to_dir + str(filename) + "/"
    for inner_file in os.listdir(inner):
        df_file = inner + str(inner_file)
        if df is None:
            df = pd.read_csv(df_file, index_col=0).reset_index()
        else:
            temp_df = pd.read_csv(df_file, index_col=0).reset_index()
            df = df.merge(temp_df, how = "outer")

df

,index,Moves,Usage,Gen,Format,Min Rating
0,Bronzong,"['gyroball', 'explosion', 'earthquake', 'steal...",0.124514,4,ou,0
1,Swampert,"['earthquake', 'stealthrock', 'waterfall', 'ic...",0.120051,4,ou,0
2,Snorlax,"['bodyslam', 'crunch', 'earthquake', 'curse', ...",0.040116,4,ou,0
3,Uxie,"['stealthrock', 'uturn', 'thunderwave', 'psych...",0.023561,4,ou,0
4,Machamp,"['dynamicpunch', 'payback', 'bulletpunch', 'ic...",0.102777,4,ou,0
...,...,...,...,...,...,...
2697,Zarude,"['darkestlariat', 'powerwhip', 'uturn', 'jungl...",0.126021,8,uu,0
2698,Azumarill,"['aquajet', 'playrough', 'knockoff', 'liquidat...",0.064454,8,uu,0
2699,Jirachi,"['uturn', 'ironhead', 'trick', 'stealthrock', ...",0.236278,8,uu,0
2700,Azelf,"['fireblast', 'knockoff', 'psychic', 'uturn', ...",0.093916,8,uu,0
2701,Kingdra,"['dracometeor', 'hurricane', 'surf', 'flipturn...",0.022433,8,uu,0

In [41]:
df["Gen"].value_counts()

8    1237
7     501
4     485
6     274
5     205
Name: Gen, dtype: int64

In [45]:
path_to_dir = "Oldest Data/data/"
obs = 0
obs_prev = 0

for filename in os.listdir(path_to_dir):
    inner = path_to_dir + str(filename) + "/"

    for inner_file in os.listdir(inner):
        df_file = inner + str(inner_file)
        df = pd.read_csv(df_file,index_col=0)
        obs += df.shape[0]
    print(inner,obs - obs_prev)
    obs_prev = obs
obs

Oldest Data/data/gen4/ 317
Oldest Data/data/gen5/ 590
Oldest Data/data/gen6/ 1532
Oldest Data/data/gen7/ 468
Oldest Data/data/gen8/ 392

3299

In [49]:
path_to_dir = "Oldest Data/data/"
obs = 0
df = None

for filename in os.listdir(path_to_dir):
    inner = path_to_dir + str(filename) + "/"
    for inner_file in os.listdir(inner):
        df_file = inner + str(inner_file)
        if df is None:
            df = pd.read_csv(df_file, index_col=0).reset_index()
        else:
            temp_df = pd.read_csv(df_file, index_col=0).reset_index()
            print(df_file, temp_df.shape[0])
            df = df.merge(temp_df, how = "outer")
df

Oldest Data/data/gen4/gen4ou-1500 74
Oldest Data/data/gen4/gen4ou-1630 66
Oldest Data/data/gen4/gen4ou-1760 61
Oldest Data/data/gen4/gen4ubers-0 21
Oldest Data/data/gen4/gen4ubers-1500 21
Oldest Data/data/gen5/gen5ou-0 104
Oldest Data/data/gen5/gen5ou-1500 104
Oldest Data/data/gen5/gen5ou-1630 98
Oldest Data/data/gen5/gen5ou-1760 90
Oldest Data/data/gen5/gen5ubers-0 66
Oldest Data/data/gen5/gen5ubers-1500 66
Oldest Data/data/gen5/gen5uu-0 31
Oldest Data/data/gen5/gen5uu-1500 31
Oldest Data/data/gen6/ou-0 140
Oldest Data/data/gen6/ou-1500 140
Oldest Data/data/gen6/ou-1695 140
Oldest Data/data/gen6/ou-1825 140
Oldest Data/data/gen6/ubers-0 123
Oldest Data/data/gen6/ubers-1500 123
Oldest Data/data/gen6/ubers-1630 123
Oldest Data/data/gen6/ubers-1760 123
Oldest Data/data/gen6/uu-0 120
Oldest Data/data/gen6/uu-1500 120
Oldest Data/data/gen6/uu-1630 120
Oldest Data/data/gen6/uu-1760 120
Oldest Data/data/gen7/gen7ou-0 67
Oldest Data/data/gen7/gen7ou-1500 68
Oldest Data/data/gen7/gen7ou-1695 62
Oldest Data/data/gen7/gen7ou-1825 58
Oldest Data/data/gen7/gen7ubers-0 62
Oldest Data/data/gen7/gen7ubers-1500 60
Oldest Data/data/gen7/gen7ubers-1630 49
Oldest Data/data/gen7/gen7ubers-1760 42
Oldest Data/data/gen8/gen8ou-0 67
Oldest Data/data/gen8/gen8ou-1500 63
Oldest Data/data/gen8/gen8ou-1695 47
Oldest Data/data/gen8/gen8ou-1825 42
Oldest Data/data/gen8/gen8ubers-0 49
Oldest Data/data/gen8/gen8ubers-1500 48
Oldest Data/data/gen8/gen8ubers-1630 40
Oldest Data/data/gen8/gen8ubers-1760 36

,index,Moves,Usage,Gen,Format,Min Rating
0,Porygon-Z,"['triattack', 'darkpulse', 'icebeam', 'thunder...",0.030726,4,ou,0
1,Bronzong,"['explosion', 'stealthrock', 'gyroball', 'refl...",0.062849,4,ou,0
2,Swampert,"['earthquake', 'stealthrock', 'roar', 'icebeam...",0.321229,4,ou,0
3,Spiritomb,"['rest', 'willowisp', 'pursuit', 'sleeptalk', ...",0.064246,4,ou,0
4,Snorlax,"['rest', 'bodyslam', 'curse', 'crunch', 'earth...",0.087989,4,ou,0
...,...,...,...,...,...,...
2706,Charizard,"['solarbeam', 'fireblast', 'hurricane', 'airsl...",0.030482,8,ubers,0
2707,Shuckle,"['stickyweb', 'stealthrock', 'encore', 'finalg...",0.045773,8,ubers,0
2708,Hatterene,"['mysticalfire', 'psychic', 'dazzlinggleam', '...",0.026064,8,ubers,0
2709,Zacian-Crowned,"['behemothblade', 'playrough', 'swordsdance', ...",0.921806,8,ubers,0
2710,Hydreigon,"['dracometeor', 'nastyplot', 'flamethrower', '...",0.033010,8,ubers,0

In [47]:
df["Gen"].value_counts()

6    1203
7     468
5     423
8     392
4     225
Name: Gen, dtype: int64

In [65]:
path_to_dir = "Oldest Data/raw/gen6/ubers-1500.json"

In [66]:
import clean
clean.clean_df(path_to_dir)

KeyError: 'usage'

In [67]:
raw = pd.read_json(path_to_dir)
raw

                     info                                               data
cutoff             1500.0                                                NaN
cutoff deviation        0                                                NaN
metagame            ubers                                                NaN
number of battles  133297                                                NaN
Buneary               NaN  {'Abilities': {'klutz': 0.825735525890946, 'ru...
...                   ...                                                ...
Shedinja              NaN  {'Abilities': {'wonderguard': 1526.88620624292...
Swampert              NaN  {'Abilities': {'damp': 503.4512592486883, 'tor...
Sneasel               NaN  {'Abilities': {'innerfocus': 69.96525743162007...
Hitmontop             NaN  {'Abilities': {'technician': 48.23565068847019...
Kingdra               NaN  {'Abilities': {'swiftswim': 327.0871736238291,...

[495 rows x 2 columns]

In [68]:
top_mons = {}
df = raw[raw['data'].notna()]['data']

df[0].keys()

dict_keys(['Abilities', 'Items', 'Raw count', 'Spreads', 'Checks and Counters', 'Moves', 'Teammates'])